{{- if .Values.filestore.createPvs }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: maana-filestore
provisioner: filestore.csi.storage.gke.io
volumeBindingMode: Immediate
allowVolumeExpansion: true
parameters:
  tier: standard
  network: main-vpc
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: maana-filestore-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  csi:
    driver: filestore.csi.storage.gke.io
    volumeHandle: "modeInstance/us-central1/maana-storage/maana_share"
    volumeAttributes:
      ip: 10.66.192.2
      volume: maana_share_pvc
      protocol: nfsv3
  storageClassName: maana-filestore
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: maana-filestore-pv-compute-connectors
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  csi:
    driver: filestore.csi.storage.gke.io
    volumeHandle: "modeInstance/us-central1/maana-storage/maana_share/compute-connectors"
    volumeAttributes:
      ip: 10.66.192.2
      volume: maana_share_pvc
      protocol: nfsv3
  storageClassName: maana-filestore
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: maana-filestore-pv-data
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  csi:
    driver: filestore.csi.storage.gke.io
    volumeHandle: "modeInstance/us-central1/maana-storage/maana_share/data"
    volumeAttributes:
      ip: 10.66.192.2
      volume: maana_share_pvc
      protocol: nfsv3
  storageClassName: maana-filestore
{{- end }}
